/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 320px) and (max-width: 480px){
    .row
	{
	    width: 100%;
	    float: left;
	}
	.col  
	{
	    width: 100%;
	    float: left;
	}
	.bg1
	{
	  background-color: #c0c0c0;
	  border-left: 5px solid #2B8EAD;
	}
	.bg2
	{
	  background-color: #c0c0c0;
	  border-left: 5px solid #6F98A8;
	}
	.bg3
	{
	  background-color: #c0c0c0;
	  border-left: 5px solid #BFBFBF;
	}
	.bg4
	{
	  background-color: #c0c0c0;
	  border-left: 5px solid #2F454E;
	}
}
/* Smartphones (portrait) ---------- */
@media screen and (max-width: 360px){
    .row
	{
	    width: 100%;
	    float: left;
	}
	.col  
	{
	    width: 100%;
	    float: left;
	}
}
/* Smartphones (landscape) ---------- */
@media screen and (min-width: 321px){
   
}
/* Tablets, iPads (portrait and landscape) ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .row
	{
	    width: 100%;
	    float: left;
	}
	.col  
	{
	    width: 100%;
	    float: left;
	    margin-top: 70px;
	}
	#container
	{
		width: 100%;
    	height: 250px;
	}

	.bg1
	{
	  width: 94%;
	  background-color: #e4e4e4;
	  border-left: 15px solid #2B8EAD;
	  color: #000;
	  margin-bottom: 10px;
	}
	.bg2
	{
	  width: 94%;
	  background-color: #e4e4e4;
	  border-left: 15px solid #6F98A8;
	  color: #000;
	  margin-bottom: 10px;
	}
	.bg3
	{
	  width: 94%;
	  background-color: #e4e4e4;
	  border-left: 15px solid #BFBFBF;
	  color: #000;
	  margin-bottom: 10px;
	}
	.bg4
	{
	  width: 94%;
	  background-color: #e4e4e4;
	  border-left: 15px solid #2F454E;
	  color: #000;
	  margin-bottom: 10px;
	}
	button#shuffle 
	{
		position: absolute;
    	top: 10px;
	}
	button#sort 
	{
		position: absolute;
    	top: 10px;
    	left: 20%;
	}
}
/* Tablets, iPads (portrait) ---------- */
@media screen and (min-width: 768px){
  
}
/* Tablets, iPads (landscape) ---------- */
@media screen and (min-width: 1024px){
    /* styles */
}
/* Desktops and laptops ---------- */
@media screen and (min-width: 1224px){
    /* styles */
}
/* Large screens ---------- */
@media screen and (min-width: 1824px){
    /* styles */
}